.todo-div {
    width: 35vh;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
}

#todo-form input[type=text] {
    width: 35vh;
    height: 4.5vh;
    font-size: 2.3vh;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.todo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 37%;
    border: none;
}

.todo-section #todo-list {
    font-size: 3.2vh;
    padding: 0.3vh;
    font-weight: 520;
    text-align: left;
    margin-top: 0em;
    

}

.todo-section #todo-list:last-child {
    border-bottom: none;
}

.list {
    font-size: 2.6vh;
    padding: 0.3vh;
    font-weight: 520;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.582);
    border-bottom: 0.1vh solid rgba(0, 0, 0, 0.507);
    border-radius: 10px 100px/120px;
    list-style-position: inside;
    list-style: none;
   padding-left: 1.2vh;
    margin: 1.6vh 1.2vh;
    /* margin-bottom: 0.2vh; */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    color: black;
}
.button_css {
    font-size: 2.2vh;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    text-align: right;
    padding-right: 1.0vh;

    /* transition-property: opacity;
    transition-duration: 0.1s; */
}